[submodule "qPCR_ER"]
	path = qPCR_ER
	url = https://github.com/andrewholding/Estrocycle_qPCR
[submodule "qPLEX-RIME_ER"]
 	path = qPLEX-RIME_ER
	url = https://github.com/andrewholding/QrimeSceneInvestigator
[submodule "ChIP-seq_H3K27ac_siGRHL2"]
 	path = ChIP-seq_H3K27ac_siGRHL2
	url = https://github.com/andrewholding/ChIP-seq_H3K27ac_siGRHL2
