[submodule "qPCR_ER"]
	path = S1_qPCR_ER
	url = https://github.com/andrewholding/Estrocycle_qPCR
[submodule "qPLEX-RIME_ER"]
	path = S4_qPLEX-RIME_ER
	url = https://github.com/andrewholding/QrimeSceneInvestigator
[submodule "ChIP-seq_H3K27ac_siGRHL2"]
	path = S7_ChIP-seq_H3K27ac_siGRHL2
	url = https://github.com/andrewholding/ChIP-seq_H3K27ac_siGRHL2
