body,html { 
    margin-left: 0%; 
    margin-right: 0%;
    font-family: Arial, Verdana, sans-serif;
    color: black;
    background-color: #FFFFFF;
    font-size: 1em;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 90%;
    word-break: break-all;
}

td {
    padding: 0.2em 0.5em;
    border: solid 1px black;
}

th {
    border: solid 1px black;
    background-color: #EEEEEE;
    padding: 0.2em 0.5em;
}
    
p {
    width: 80%;
    text-align: justify;
}

img {
    border-left: solid 1px #CCCCCC;
    border-right: solid 3px #AAAAAA;
    border-top: solid 1px #CCCCCC;
    border-bottom: solid 3px #AAAAAA;
    margin: 0.5em;
}

/*NAVBAR*/
#navbar {
    border: solid 1px #CCCCCC;
    font-size: small;
    left:0.5%;
    margin:0;
    padding:0;
    position:fixed;
    top:3%;
    width:17%;
}

#navbar ul {
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}

#navbar li {
    margin: 0.2em 0em;
    padding: 0.2em;
    background-color: #EEEEEE;    
}

#navbar li:hover {
    background-color: #DDDDDD;  
}

#navbar a {
    text-decoration: none;
}

/*INTRA NAVBAR*/
#intra_navbar {
    border: solid 1px #CCCCCC;
    font-size: small;
    left:0.5%;
    margin:0;
    padding:0;
    position:fixed;
    bottom:3%;
    width:17%;
}

#intra_navbar ul {
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}

#intra_navbar li {
    margin: 0.2em 0em;
    padding: 0.2em;
    background-color: #EEEEEE;
    
}

#intra_navbar a {
    text-decoration: none;
}

/*content*/

#content{
    margin-left: 21%;
    width: 78%;
}

/* Classes */

.center {
    text-align: center;
}

.associated_tf {
    background-color: #EEEEEE;
    padding: 0.3em;
    width: 90%;
}

.fullsize_logo {
    width: 30%;
}

fullsize_graph {
}

.small_logo {
    height: 100px;
}

.act_img {
    width: 90%;
}

.zval_img {
    width: 65%;
}

.sample_zval_img {
    width: 65%;
}

.big_img_box {
    border: solid 1px #CCCCCC;
    padding: 0.3em;
    width: 90%;
}

.header {
    font-weight: bold;
}

.project_name {
    background: #DDDDDD;
    font-weight: bold;
    padding: 0.8em 0.5em;
    text-align: center;
}

/* GOA tables */

.dataTables_filter {
    float: left;
    text-align: left;
}

.dataTables_length {
    clear: left;
}

.dataTables_info {
    margin-left: 20px;
}

.dataTables_paginate {
    clear: left;
    float: left;
}

.goa_table {
    width: 100%;
    clear: both;
    white-space: nowrap;
}

/* targets table */

#targets_table_filter {
    float: left;
    text-align: left;
}

#targets_table_length {
    clear: left;
}

#targets_table_info {
    margin-left: 20px;
}

#targets_table_paginate {
    clear: left;
    float: left;
}

#targets_table {
    width: 100%;
    clear: both;
}

#targets_table th, td {
    white-space: nowrap;
}

#targets_table th {
    padding-right: 20px;
}

#targets_table .wrap {
    white-space: normal;
}

/* wm index table */

#wm_index_table th, td {
    white-space: nowrap;
}

#wm_index_table th {
    padding-right: 20px;
}

#wm_index_table .wrap {
    white-space: normal;
}

#wm_index_table .wm_name {
    min-width: 25%;
}

#wm_index_table {
    width: 100%;
    clear: both;
}

#wm_index_table_filter {
    float: left;
    text-align: left;
}

/* table cels colors */
tr.even {
    background-color: #EEEEEE;
}

tr.odd {
    background-color: #FFFFFF;
}

tr.odd td.sorting_1 {
    background-color: #EEEEEE;
}

tr.even td.sorting_1 {
    background-color: #DDDDDD;
}

.average {
    display: none;
}

.batch {
    display: none;
}

#average_init {
    width: 95%;
    margin: 2%;
}

.average_submit {
    margin: 1em;
}

.average_show_conf {
    margin: 1em;
}

.average_hide_conf {
    margin: 1em;
}

#average_user_data td {
    border: none;
    width: auto;
}

#ismara_link {
    background-color: #EEEEEE;
    padding: 0.3em;
}

.armada_submit {
    display: none;
    margin: 1em;
}

.armada {
    display: none;
}

.loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/images/loader.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .loader {
    display: block;
}
