body,html { 
    margin-left: 0%; 
    margin-right: 0%;
    font-family: Arial, Verdana, sans-serif;
    color: black;
    background-color: #FFFFFF;
    font-size: 1em;
}

    
p {
    width: 80%;
    text-align: justify;
}

img {
    border-left: solid 1px #CCCCCC;
    border-right: solid 3px #AAAAAA;
    border-top: solid 1px #CCCCCC;
    border-bottom: solid 3px #AAAAAA;
    margin: 0.5em;
}

/*NAVBAR*/
#navbar {
    border: solid 1px #CCCCCC;
    font-size: small;
    left:0.5%;
    margin:0;
    padding:0;
    position:fixed;
    top:3%;
    width:17%;
}

#navbar ul {
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}

#navbar li {
    margin: 0.2em 0em;
    padding: 0.2em;
    background-color: #EEEEEE;    
}

#navbar li:hover {
    background-color: #DDDDDD;  
}

#navbar a {
    text-decoration: none;
}

/*INTRA NAVBAR*/
#intra_navbar {
    border: solid 1px #CCCCCC;
    font-size: small;
    left:0.5%;
    margin:0;
    padding:0;
    position:fixed;
    bottom:3%;
    width:17%;
}

#intra_navbar ul {
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}

#intra_navbar li {
    margin: 0.2em 0em;
    padding: 0.2em;
    background-color: #EEEEEE;
    
}

#intra_navbar a {
    text-decoration: none;
}

/*content*/

#content{
    margin-left: 21%;
    width: 78%;
}

/* Classes */

.center {
    text-align: center;
}

.associated_tf {
    background-color: #EEEEEE;
    padding: 0.3em;
    width: 90%;
}

.fullsize_logo {
    width: 30%;
}

fullsize_graph {
}

.small_logo {
    height: 100px;
}

.act_img {
    width: 90%;
}

.zval_img {
    width: 65%;
}

.sample_zval_img {
    width: 65%;
}

.big_img_box {
    border: solid 1px #CCCCCC;
    padding: 0.3em;
    width: 90%;
}

.header {
    font-weight: bold;
}

.project_name {
    background: #DDDDDD;
    font-weight: bold;
    padding: 0.8em 0.5em;
    text-align: center;
}


.loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/images/loader.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .loader {
    display: block;
}
