#tabs {
    width: 40%;
    margin-left: 30%;
}

#cel_form table, th, td {
    border-style: none;
}

#rnaseq table, th, td {
    border-style: none;
}

#chipseq table, th, td {
    border-style: none;
}

#toc {
    text-align: center;
    word-spacing: 3em;
    margin: 1em auto 1em auto;
}

#info {
    width: 40%;
    margin-left: 30%;
}

#usage,#contact,#example,#sample,#supplementary,#terms {
    margin-top: 3em;
    display: none;
    text-align: justify;
    vertical-align: top;
}

#about {
    display: block;
    margin-top: 3em;
    text-align: justify;
    vertical-align: top;
}

a:link {
    text-decoration: none;
}

img {
    border: 0;
}

#message_frame {
    margin: 2em 5% 1em 15%;
    font-size: 14px;
}

#mfi {
}

.MultiFile-list {
    margin-top: 10px;
}

.MultiFile-title {
    color: red;
    font-weight: bold;
}

#feedback {
    font-size:  14px;
    text-align: center;
}

.container {
    border-radius: 15px;
}

#login {
    float: left;
}
#login input {
    width: 12em;
}

#login #status {
    margin-top: 1em;
    color: #FF0000;
    font-weight: bold;
    font-size: 1.2em;
}

